{% extends "base.html" %} {% block title %}HR Dashboard{% endblock %} 
{% block content %}

<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="z-index: 10"
  >
    <span class="navbar-brand mb-0 h1" href="#">Resume Ranker</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="z-index: 10" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  var $j = jQuery.noConflict();
</script>


<style>
  .vertical-text {
    writing-mode: tb-rl;
    white-space: nowrap;
    border: none;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
    width: 1em;
    text-align: center;
  }

  .horizontal-table {
    width: 100%;
    border-collapse: collapse;
  }

  .horizontal-table td {
    padding: 4px;
    border: 1px solid black;
  }
</style>



<div class="container-fluid">
  <div class="container">
        {% for person in data %}         
        <table class="table horizontal-table">
          <tbody>
            <tr>
              <td class="vertical-text " rowspan="3">Personal Information</td>

              <td>Name</td>
              <td>{{ person.name | join(", ") }}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>{{ person.number | join(", ") }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ person.email | join(", ") }}</td>
            </tr>
            <tr>
              <td class="vertical-text" rowspan="3">Experience</td>
              <td>Company Name</td>
              {% for company in person.company_name %}
                <td>{{ company }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Role</td>
              {% for r in person.role %}
                <td>{{ r }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Years of Experience</td>
              {% for exp in person.years_of_experience %}
                <td>{{ exp }}</td>
              {% endfor %}
            </tr>
            
            <tr>
              <td class="vertical-text" rowspan="3">Education</td>
              <td>University Name</td>
              {% for uni in person.university %}
                <td>{{ uni }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Degree</td>
              {% for deg in person.degree %}
                <td>{{ deg }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Graduation Year</td>
              {% for year in person.graduation_year %}
                <td>{{ year }}</td>
              {% endfor %}
            </tr>
            
            <tr>
              <td class="vertical-text" rowspan="2">Additional Info</td>
              <td>Certification</td>
              <td>{{ person.certification | join(", ") }}</td>
            </tr>
            <tr>
              <td>Skills</td>
              <td>{{ person.skills | join(", ") }}</td>

            </tr>
          </tbody>
        </table>
        {% endfor %}
    </div>
</div>


{% endblock %}
